h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
p{
    
    font-family: 'Times New Roman', Times, serif; 
}
.mb-5{
    font-family: 'Times New Roman', Times, serif; 
}
col{
    font-family: 'Times New Roman', Times, serif;
}
