<div class="container-fluid">
    <div class="row">
        @for(item of districts; track item.id){
            <div class="col pt-5">
                <div class="card" style="width: 18rem;height: 25rem;">
                    <img src="{{item.image}}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{item.title}}</h5>
                      <p class="card-text">{{item.description| slice:0:300}}...</p>
                      <a [routerLink]="['/districts',item.id]">More...</a>
                    </div>
                  </div>
               
            </div>
        }
   